---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article>
    <br>
    <p>My complete Curriculum Vitae is available to view or download as a PDF.</p>
    
    <h3>
      <a href="{{ 'CV.pdf' | relative_url }}" target="_blank">
        <i class="fa-solid fa-file-pdf"></i> Click here to open my CV
      </a>
    </h3>
  </article>
</div>
